<h1>About Us</h1>
<p>This application uses data from the following sources:</p>
<ul>
  <li>CSV files for shelters, tags, and pets</li>
  <li>Petfinder API for additional shelters and pets data</li>
  <li>Faker Gems for additional shelters, tags, and pets</li>
</ul>
<p>Our ERD (Entity-Relationship Diagram) is as follows:</p>
<%= image_tag 'erd.png', alt: 'ERD' %>